Test-Command: env NETAVARK=/usr/lib/podman/netavark bats --no-tempdir-cleanup --print-output-on-failure test/
Depends: @, bats, jq, util-linux, iptables, netcat-openbsd, firewalld, iputils-ping, iproute2, aardvark-dns, bind9-dnsutils
Restrictions: allow-stderr, needs-root, flaky
