Source: netavark
Section: net
Priority: optional
Maintainer: Reinhard Tartler <siretart@tauware.de>
Build-Depends: cargo:native <!nocheck>,
               debhelper-compat (= 14),
               dh-cargo (>= 25),
               dh-sequence-single-binary,
               librust-anyhow-1+default-dev (>= 1.0.93),
               librust-chrono-0.4+clock-dev (>= 0.4.42),
               librust-clap-4+default-dev (>= 4.5),
               librust-clap-4+derive-dev (>= 4.5),
               librust-clap-4+env-dev (>= 4.5),
               librust-env-logger-0.11+default-dev (>= 0.11.8),
               librust-fs2-0.4+default-dev (>= 0.4.3),
               librust-futures-channel-0.3+default-dev (>= 0.3.31),
               librust-futures-core-0.3+default-dev (>= 0.3.31),
               librust-futures-util-0.3+default-dev (>= 0.3.31),
               librust-hyper-util-0.1+default-dev (>= 0.1.17),
               librust-ipnet-2+default-dev (>= 2.11.0),
               librust-ipnet-2+serde-dev (>= 2.11.0),
               librust-iptables-0.6+default-dev,
               librust-libc-0.2+default-dev (>= 0.2.157),
               librust-log-0.4+default-dev (>= 0.4.28),
               librust-mozim-0.3+default-dev (>= 0.3.1),
               librust-netlink-packet-core-0.8+default-dev (>= 0.8.1),
               librust-netlink-packet-route-0.28+default-dev,
               librust-netlink-sys-0.8+default-dev (>= 0.8.7),
               librust-nftables-0.6+default-dev (>= 0.6.3),
               librust-nix-0.30+default-dev (>= 0.30.1),
               librust-nix-0.30+net-dev (>= 0.30.1),
               librust-nix-0.30+sched-dev (>= 0.30.1),
               librust-nix-0.30+signal-dev (>= 0.30.1),
               librust-nix-0.30+socket-dev (>= 0.30.1),
               librust-nix-0.30+user-dev (>= 0.30.1),
               librust-prost-0.14+default-dev (>= 0.14.1),
               librust-rand-0.8+default-dev (>= 0.8.5),
               librust-serde-1+default-dev (>= 1.0.228),
               librust-serde-1+derive-dev (>= 1.0.228),
               librust-serde-json-1+default-dev (>= 1.0.145),
               librust-sha2-0.10+default-dev (>= 0.10.9),
               librust-tokio-1+default-dev (>= 1.48.0),
               librust-tokio-1+fs-dev (>= 1.48.0),
               librust-tokio-1+rt-dev (>= 1.48.0),
               librust-tokio-1+rt-multi-thread-dev (>= 1.48.0),
               librust-tokio-1+signal-dev (>= 1.48.0),
               librust-tokio-1+time-dev (>= 1.48.0),
               librust-tokio-stream-0.1+default-dev (>= 0.1.17),
               librust-tokio-stream-0.1+net-dev (>= 0.1.17),
               librust-tonic-0.14+default-dev (>= 0.14.2),
               librust-tonic-prost-0.14+default-dev (>= 0.14.2),
               librust-tonic-prost-build-0.14+default-dev (>= 0.14.2),
               librust-tower-0.5+default-dev (>= 0.5.2),
               librust-tower-0.5+util-dev (>= 0.5.2),
               librust-zbus-5+default-dev (>= 5.12.0),
               libstd-rust-dev,
               rustc:native (>= 1.86) <!nocheck>
Build-Conflicts: librust-zbus-1-dev
Standards-Version: 4.7.2
Homepage: https://github.com/containers/netavark
Vcs-Browser: https://salsa.debian.org/debian/netavark
Vcs-Git: https://salsa.debian.org/debian/netavark.git
Rules-Requires-Root: no

Package: netavark
Architecture: any
Provides: container-network-stack (= 2)
Recommends: aardvark-dns, nftables
Breaks: aardvark-dns (<< 1.12)
Enhances: podman
Description: Rust based network stack for containers
 Netavark is designed to work with but is also applicable
 for other OCI container management applications.
